<p id="notice"><%= notice %></p>

<%= "#{@task.name} Details" %>

<table>
  <tbody>
    <tr>
      <h1><%= @task.name %></h1>
    </tr>
  </tbody>
</table>



<%= "#{@task.description}" %>

<%= "#{@task.student.first_name} #{@task.student.last_name}" %>
<br/>

<br>
